<hr class="max-w-prose">
<h3 class="my-5 text-2xl font-bold">{{data.post.user.name}}Comments</h3>
{{#each data.comments as |comment|}}
<p>
    name
{{comment.comment}}
</p>
<p>
    comment
{{comment.}}
</p>
{{/each}}
<p>end comments</p>