<div class="m-auto w-1/3 mt-10 p-5 border-2 border-solid border-black rounded bg-slate-200">
  <h2 class="text-xl font-bold">Login</h2>

  <form class="form login-form flex-col gap-5">
    <div class="form-group py-3">
      <label for="email-login">email:</label>
      <input class="form-input" type="text" id="email-login" />
    </div>
    <div class="form-group">
      <label for="password-login">password:</label>
      <input class="form-input" type="password" id="password-login" />
    </div>
    <div class="form-group mt-3">
      <button class="mr-14 border-2 border-slate-500 rounded-lg p-2 px-5" type="submit">login</button>
    </div>
  </form>

  <script src="/js/login.js"></script>
</div>